<main id="tab-cartas" class="content-view hidden">
    <div class="billboard">
        <div class="billboard-image">
            <img src="assets/img/billboard_cartas.jpg" alt="Cartas">
            <div class="billboard-vignette"></div>
        </div>
        <div class="billboard-layer">
            <div class="billboard-content">
                <div class="logo-and-text">
                    <span class="n-icon">V</span>
                    <span class="original-text"> E X C L U S I V O</span>
                </div>
                <h2 class="title-logo">Mi amor<br>por ti</h2>
                <p class="synopsis">Una colección de palabras no dichas, secretos a voces y todo el amor que siento.
                    Abre esta carta para descubrir lo que hay en mi corazón.</p>
                <div class="billboard-buttons">
                    <button class="btn btn-play" onclick="cinematicCarta()">
                        📖 Leer Carta
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="sliders-container">
        <div class="slider-row" style="margin-bottom:0;">
            <h3 class="row-title">50 Pequeñas Razones por las que te amo — ¡Tócalas!</h3>
            <div class="flip-items" id="slider-razones"
                style="display:flex;flex-wrap:wrap;justify-content:center;gap:18px;padding:1.5rem 0 3rem;">
            </div>
        </div>
    </div>
    <footer class="netflix-footer">
        <p>Por: Tu pochis ❤️</p>
    </footer>
</main>