<main id="tab-magia" class="content-view hidden" style="min-height:100vh;">
    <div id="particles-bg"></div>
    <div class="magic-container">
        <h1 class="magic-title">Misterio: ✨</h1>
        <div id="magic-reward" class="hidden reward-box">
            <h2>¡Para ti! 🎉</h2>
            <p>
                Estar a tu lado es lo mas bonito que me ha pasado en la vida,<strong> eres el amor de mi vida</strong>
                hoy,
                mañana y para siempre.<br><br>
                Feliz Cumpleaños, amorcito. Que este año traiga todo lo que mereces. Te amo con toda mi alma ❤️
            </p>
            <div class="modal-action-bar" style="margin-top:1.8rem;">
                <button class="btn-premium-close" onclick="switchTab(event,'tab-inicio')">
                    <span>Volver al Inicio</span>
                </button>
            </div>
        </div>
    </div>
</main>