<main id="tab-inicio" class="content-view hidden">
    <div class="billboard">
        <div class="billboard-image">
            <img src="assets/img/billboard_inicio.jpg" alt="Inicio">
            <div class="billboard-vignette"></div>
        </div>
        <div class="billboard-layer">
            <div class="billboard-content">
                <div class="logo-and-text">
                    <span class="n-icon">V</span>
                    <span class="original-text">M O M E N T O S</span>
                </div>
                <h2 class="title-logo">Felices 19<br>Años</h2>
                <div class="tags">
                    <span class="match">100% de compatibilidad</span>
                    <span class="rating">+18 Momentos</span>
                    <span class="hd">HD</span>
                </div>
                <p class="synopsis">Un viaje fotográfico por la vida de la cumpleañera más hermosa del mundo y algunos
                    recuerdos juntos.</p>
                <div class="billboard-buttons">
                    <button class="btn btn-more" onclick="abrirCartaEspecial()">
                        <span>✉️</span> Carta especial
                    </button>
                </div>
            </div>
        </div>

    </div>

    <div class="sliders-container">
        <div class="slider-row">
            <h3 class="row-title">Tendencias Contigo</h3>
            <div class="row-items" id="slider-tendencias"></div>
        </div>
        <div class="slider-row">
            <h3 class="row-title">Momentos Inolvidables</h3>
            <div class="row-items" id="slider-momentos"></div>
        </div>
    </div>
    <footer class="netflix-footer">
        <p>Hecho con amor - Sr.Avila ❤️</p>
    </footer>
</main>